mixin About(image, title, paragraph)
    .ab-card
         img(src= image alt="about-icon")
         h4.about-title= title
         p.about-paragraph= paragraph

mixin Card(img, title, description)
    a.link-house(href="#")
        .house-card
            .img-block
                img.house-logo(src= img)
            .text-block
                h5.card-title= title
                p.card-descr= description













//mixin Card(title, description, link, logo= 'none', power)
    .card
        .header
            .card_logo= logo
            h3.card_title= title
        p.card_descr= description
        h1.card_power(class= power > 70 ? 'card_power-red' : 'card_power-green') Power #{power}
        a.card_link(href= link) Read More

