mixin Review(photo, title, stars, paragraph)
    .card-review
        img.review-img(src= photo alt="man")
        h4.c-title= title
        img.review-stars(src= stars alt="stars")
        p.review-paragraph= paragraph













//mixin Card(title, description, link, logo= 'none', power)
    .card
        .header
            .card_logo= logo
            h3.card_title= title
        p.card_descr= description
        h1.card_power(class= power > 70 ? 'card_power-red' : 'card_power-green') Power #{power}
        a.card_link(href= link) Read More

