mixin Popular1b(image, title, description)
    a.link-popular(href="#")
        .big-card
            img.bg-position(src= image alt="bangladesh city")
            .big-card-blur
                h4.popular-bigcard-title= title
                h5.popular-smallcard-descr= description

mixin Popular1s(image, title, description)
    a.link-popular-small(href="#")
        .small-card
            img.bg-position(src= image alt="country")
            .small-card-blur.jpn
                h4.popular-card-title= title
                h5.popular-card-descr= description
mixin Popular2s(image, title, description)
    a.link-popular-small(href="#")
        .small-card
            img.bg-position(src= image alt="country")
            .small-card-blur.malaysia
                h4.popular-card-title= title
                h5.popular-card-descr= description
mixin Popular3s(image, title, description)
    a.link-popular-small(href="#")
        .small-card
            img.bg-position(src= image alt="country")
            .small-card-blur.london
                h4.popular-card-title= title
                h5.popular-card-descr= description
mixin Popular4s(image, title, description)
    a.link-popular-small(href="#")
        .small-card
            img.bg-position(src= image alt="country")
            .small-card-blur.india
                h4.popular-card-title= title
                h5.popular-card-descr= description












//mixin Card(title, description, link, logo= 'none', power)
    .card
        .header
            .card_logo= logo
            h3.card_title= title
        p.card_descr= description
        h1.card_power(class= power > 70 ? 'card_power-red' : 'card_power-green') Power #{power}
        a.card_link(href= link) Read More

