mixin Popular(image, title, description, isBig=false)
    a.popular-grid(href="#")
        img(src= image alt="country")
        .popular-grid-box(class= isBig ? 'big' : '')
            h4.popular-card-title= title
            h5.popular-card-descr= description











//mixin Card(title, description, link, logo= 'none', power)
    .card
        .header
            .card_logo= logo
            h3.card_title= title
        p.card_descr= description
        h1.card_power(class= power > 70 ? 'card_power-red' : 'card_power-green') Power #{power}
        a.card_link(href= link) Read More

