
mixin About(image, title, paragraph)
    .ab-card
         img(src= image alt="about-icon")
         h4.about-title= title
         p.about-paragraph= paragraph

mixin Card(img, title, description)
    a.link-house(href="#")
        .house-card
            .img-block
                img.house-logo(src= img)
            .text-block
                h5.card-title= title
                p.card-descr= description

mixin Popular(image, title, description, isBig=false)
    a.popular-grid(href="#")
        img(src= image alt="country")
        .popular-grid-box(class= isBig ? 'big' : '')
            h4.popular-card-title= title
            h5.popular-card-descr= description














